:root {
  --color-red: #F23D1E;
  --color-purple: #AD63EE;
  --color-gray: #F6F3EE;
  --color-green: #30D1AB;
  --color-blue: #1A1B53;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

img {
  width: 100%; }

.challenge {
  width: 100%;
  padding: 5rem 10rem;
  padding-left: 30rem !important; }
  .challenge_main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between; }
  .challenge_first-div {
    flex: 0 0 25%; }
    .challenge_first-div h2 {
      font-size: 3.5rem;
      line-height: 4.5rem; }
      .challenge_first-div h2 span {
        color: var(--color-purple); }
    .challenge_first-div-cta {
      background-color: var(--color-red);
      width: 15rem;
      height: 4rem;
      font-size: 1.5rem;
      color: #fff;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
      cursor: pointer; }
  .challenge_second-div {
    padding: 0rem 10rem;
    flex: 0 0 75%; }
    .challenge_second-div .second-div-para {
      color: var(--color-red);
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1rem; }
    .challenge_second-div .second-div-heading {
      font-size: 3rem;
      color: #000;
      font-weight: 600;
      margin-bottom: 1rem; }
    .challenge_second-div-child-div {
      display: flex;
      justify-content: space-between; }
      .challenge_second-div-child-div .child-div-1,
      .challenge_second-div-child-div .child-div-2 {
        flex: 0 0 45%;
        margin-right: 2rem;
        padding: 1rem 0rem; }
        .challenge_second-div-child-div .child-div-1 h3,
        .challenge_second-div-child-div .child-div-2 h3 {
          font-size: 1.5rem;
          margin-bottom: 1rem; }
        .challenge_second-div-child-div .child-div-1 p,
        .challenge_second-div-child-div .child-div-2 p {
          font-size: 1.2rem; }
        .challenge_second-div-child-div .child-div-1 img,
        .challenge_second-div-child-div .child-div-2 img {
          width: 5rem;
          margin-bottom: 1rem; }

.hero {
  height: 80vh;
  width: 100%; }
  .hero_main {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0; }
    .hero_main-1, .hero_main-2, .hero_main-3 {
      flex: 0 0 33.33%;
      padding: 4rem 2rem;
      margin: 0;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .hero_main-1 {
      background-image: url(../img/banner1.jpg); }
    .hero_main-2 {
      background-image: url(../img/banner2.jpg); }
    .hero_main-3 {
      background-image: url(../img/banner3.jpg); }

.primary-heading {
  font-size: 3.5rem;
  line-height: 1.2em; }

.para-hero {
  font-size: 1.5rem;
  margin-top: 1rem; }

.number {
  padding: 5rem 20rem;
  text-align: center; }
  .number_main-speak h2 {
    font-size: 3rem;
    margin-bottom: 1rem; }
  .number_main-speak p {
    font-size: 1.5rem;
    padding: 0rem 30rem; }
  .number_main-number {
    width: 100%;
    margin: 0rem auto;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between; }
    .number_main-number .number-1,
    .number_main-number .number-2,
    .number_main-number .number-3 {
      flex: 0 0 33.33%; }
      .number_main-number .number-1 h2,
      .number_main-number .number-2 h2,
      .number_main-number .number-3 h2 {
        font-size: 5rem; }
      .number_main-number .number-1 p,
      .number_main-number .number-2 p,
      .number_main-number .number-3 p {
        font-size: 1.5rem; }
      .number_main-number .number-1 img,
      .number_main-number .number-2 img,
      .number_main-number .number-3 img {
        width: 5rem; }

.products {
  width: 100%;
  padding: 0;
  background-color: var(--color-gray); }
  .products_main {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .products_main-first, .products_main-second {
      flex: 0 0 50%; }

.product_main-second {
  padding-left: 5rem; }
  .product_main-second h2 {
    font-size: 3rem;
    padding-right: 15rem;
    line-height: 4.5rem; }

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem; }
  .product-list-1, .product-list-2, .product-list-3, .product-list-4 {
    flex: 0 0 45%;
    margin: 1rem 2rem 1rem 0rem; }
    .product-list-1 h3, .product-list-2 h3, .product-list-3 h3, .product-list-4 h3 {
      font-size: 1.5rem; }
    .product-list-1 p, .product-list-2 p, .product-list-3 p, .product-list-4 p {
      font-size: 1.2rem; }

.sale {
  width: 100%; }
  .sale_main {
    width: 100%;
    display: flex; }
    .sale_main-1, .sale_main-2, .sale_main-3, .sale_main-4 {
      flex: 0 0 25%;
      padding: 20rem 0rem; }
    .sale_main-1, .sale_main-3 {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .sale_main-1 {
      background-image: url(../img/1.jpg); }
    .sale_main-3 {
      background-image: url(../img/2.jpg); }
    .sale_main-2, .sale_main-4 {
      background-color: var(--color-gray);
      padding: 2rem 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .sale_main-2 h2, .sale_main-4 h2 {
        font-size: 2.5rem; }
      .sale_main-2 .cta, .sale_main-4 .cta {
        width: 13rem;
        height: 3rem;
        font-size: 1.3rem;
        color: #fff;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        cursor: pointer; }
    .sale_main-2 .cta {
      background-color: var(--color-red); }
    .sale_main-4 .cta {
      background-color: #c9bfb3; }
