.client {
    padding: 5rem 10rem;
    background-color: #000;
    text-align: center;
    @media only screen and (max-width: $bp-medium) {
        padding: 5rem;
    }
    & p {
        color: #0F97D2;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    & h2 {
        font-size: 4rem;
        color: #fff;
        margin-bottom: 3rem;
    }
    &_main-logo {
        display: flex;
        flex-wrap: wrap;
        &-1,
        &-2,
        &-3,
        &-4,
        &-5,
        &-6,
        &-7,
        &-8,
        &-9,
        &-10,
        &-11,
        &-12 {
            flex: 0 0 15%;
            background-color: #1C1C1C;
            margin: 1rem;
            padding: 2rem;
            border-radius: 5px;
            @media only screen and (max-width: $bp-largest) {
                flex: 0 0 20%;
            }
            @media only screen and (max-width: $bp-medium) {
                flex: 0 0 30%;
            }
            @media only screen and (max-width: $bp-small) {
                flex: 0 0 45%;
            }
            & img {
                width: 15rem;
            }
            & h3 {
                color: #fff;
                font-size: 1.5rem;
            }
        }
    }
}