.number {
    padding: 5rem 20rem;
    text-align: center;
    @media only screen and (max-width: $bp-small) {
        padding: 5rem;
    }
    &_main {
        &-speak {
            h2 {
                font-size: 3rem;
                margin-bottom: 1rem;
            }
            p {
                font-size: 1.5rem;
                padding: 0rem 30rem;
                @media only screen and (max-width: $bp-largest) {
                    padding: 0 10rem;
                }
                @media only screen and (max-width: $bp-smallest) {
                    padding: 0;
                }
            }
        }
        &-number {
            width: 100%;
            margin: 0rem auto;
            margin-top: 5rem;
            display: flex;
            justify-content: space-between;
            & .number-1,
            & .number-2,
            & .number-3 {
                flex: 0 0 33.33%;
                & h2 {
                    font-size: 5rem;
                    @media only screen and (max-width: $bp-smallest) {
                        font-size: 3rem;
                    }
                }
                & p {
                    font-size: 1.5rem;
                }
                & img {
                    width: 5rem;
                }
            }
        }
    }
}