.work {
    padding: 10rem 20rem;
    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
    }
    &_main {
        background-color: #11ACEE;
        padding: 3rem;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
            align-items: flex-start;
        }
        &-first {
            flex: 0 0 70%;
            & p {
                color: #fff;
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }
            & h2 {
                color: #fff;
                font-size: 4rem;
                margin-bottom: 2rem;
                line-height: 5rem;
                @media only screen and (max-width: $bp-small) {
                    font-size: 2rem;
                    line-height: 3rem;
                }
                & span {
                    font-weight: 500;
                    font-size: 4rem;
                    color: #fff;
                    @media only screen and (max-width: $bp-small) {
                        font-size: 2rem;
                    }
                }
            }
            & h3 {
                font-size: 4rem;
                color: #fff;
                @media only screen and (max-width: $bp-small) {
                    font-size: 2rem;
                    line-height: 3rem;
                }
                & span {
                    font-size: 2rem;
                    font-weight: 400;
                }
            }
        }
        &-second {
            width: 18rem;
            height: 4rem;
            border-radius: 100px;
            border: 1px solid #fff;
            color: #fff;
            font-size: 1.5rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10rem;
            cursor: pointer;
            @media only screen and (max-width: $bp-largest) {
                margin-right: 2rem;
            }
            @media only screen and (max-width: $bp-medium) {
                margin-top: 2rem;
            }
        }
    }
}

.work-footer {
    background-image: url(../img/bg-black.png);
    background-position-y: 150%;
    background-size: 100%;
    background-repeat: no-repeat;
}